html, body {
  min-height: 100%;
  min-width: 100%;
}

.Form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
}

#background {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-height: 100%;
  min-width: 100%;
  opacity: 0.6;
  z-index: -1; 
}

#welcome-title {
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  color: white;
}

.weight_container {
  font-size: 1.25em;
  text-align: center;
  padding-top: 30px;
}

.graph {
  display: block;
  margin: 0 auto;
}

.logout {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.weight_form {
  padding-bottom: 20px;
}

.welcome {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 2.25em;
  color: white;
  display: block;
  padding-bottom: 10px;
}

.diary_container {
  font-size: 1.25em;
  padding-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.date {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  color: white;
  display: block;
}

.header {
  /* background-color: #B5CC18; */
  background-image: url("/mfp-bg-5.png");
  opacity: 0.6;
  padding: 40px;
}

.cal_calc {
  text-align: center;
}

#nutrition_log_btns {
  text-align: center;
  padding-top: 60px;
}

.search_form {
  padding-top: 30px;
  padding-bottom: 15px;
}

.diary_page {
  padding-top: 30px;
}

.hr {
  border: 1px solid #e0e0e0;
}

/* #food-search-input {
  
} */

#food-search-button {
  margin-left: 10px;
  
}

#weight-button {
  margin-left: 10px;
}

#nutrition-button {
  margin-right: 10px;
}

#log-button {
  margin-right: 10px;
}

.servings-dropdown {
  margin-right: 10px;
  margin-top: 20px;
}

.food-results-card {
  padding-bottom: 20px;
}

.food-name {
  font-weight: 800;
  font-size: 1em;
  
}

.meal-title {
  font-weight: 800;
  font-size: 1em;
  padding-top: 30px;
}

/* .meal-button {
  margin-bottom: 20px;
} */

.neg-calories {
  color: red;
}

.nutrient {
  float: right;
}

.pie-chart {
  display: block;
  margin: 0 auto;
}

.nutrition-details {
  padding-top: 14px;

}

.nav-btns {
  float: right;
  padding: 10px;
}